{% extends "jointhefleet/base_site.html" %}

{% block header_navlinks %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">New Fleet</a></li> -->
            <li><a href="/jointhefleet/view">FC</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="#!">Welcome, {{ user.username }}</a></li>
            <li><a href="#">Logout</a></li>
            {% else %}
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
{% endblock %}