{% extends "jointhefleet/base_site.html" %}

{% block header_navlinks %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">New Fleet</a></li> -->
            <li><a href="/jointhefleet/view">FC</span></a></li>
            <!-- <li><a href="/jointhefleet/report">Report</span></a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></a>
              <ul class="dropdown-menu">
                <li><a href="/jointhefleet/chgpasswd">Change Password</a></li>
              </ul>
            </li>
            <li><a href="/jointhefleet/logout">Logout</a></li>
            {% else %}
            <li><a href="/jointhefleet/login">Log in</a></li>
            {% endif %}
          </ul>
        </div>
{% endblock %}