{% extends "jointhefleet/base.html" %}

{% block contents %}
    <div class="container">
      <h1 class="page-header text-center">Edit Operation</h1>
      <div class="row">
        <div class="col-lg-2"></div>
        <div id="edit_operation" class="col-lg-8">
          <form action="/jointhefleet/{{ Operation.id }}/edit" method="post" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
              <div class="form-group">
                <label class="col-lg-2 control-label">Code Name</label>
                <div class="col-lg-10">
                  {{ form.code }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Start Time</label>
                <div class="col-lg-10">
                  {{ form.date_opd }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">End Time</label>
                <div class="col-lg-10">
                  {{ form.date_fin }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">State</label>
                <div class="col-lg-10">
                  {{ form.state }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Category</label>
                <div class="col-lg-10">
                  {{ form.category }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">FC ID</label>
                <div class="col-lg-10">
                  {{ form.fc_id }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">FC Name</label>
                <div class="col-lg-10">
                  {{ form.fc_name }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Acquired</label>
                <div class="col-lg-10">
                  {{ form.acquired }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Remarks</label>
                <div class="col-lg-10">
                  {{ form.remarks }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Profit</label>
                <div class="col-lg-10">
                  {{ form.profit }}
                </div>
              </div>
            </fieldset>
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
              <button type="submit" class="btn btn-primary"><span class="fa fa-edit"></span> Edit</button>
              <a href="/jointhefleet/{{ Operation.id }}/" class="btn btn-default"><span class="fa fa-arrow-left"></span> Cancel</a>
            </div>
          </form>
        </div>
        <div class="col-lg-2"></div>
      </div>
{% endblock %}
