{% extends "jointhefleet/error.html" %}

{% block err_title %}NOT Trusted{% endblock%}

{% block err_body %}
<p><a href="#!" class="btn btn-primary" onclick="CCPEVE.requestTrust('http://*.riserenters.com/*')">Make this page trusted</a></p>
<p>If you did, but still not available, <a href="#!" onclick="location.reload()">reload</a> this page.</p>
<p>Only available on IN-GAME Browser</p>
<p>Bug Report : <a href="#!" onclick="CCPEVE.sendMail(93639070, '[Jointhefleet-Bugreport]', '')">Nino Grande</a></p>
{% endblock %}