{% extends "jointhefleet/base.html" %}

{% block contents %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">TOP Characters</div>
            <div class="panel-body">
              <table class="table table-striped">
                <tbody>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/95094737_32.jpg" width="32" height="32"> ravaenee Enaka</td>
                      <td class="text-right" style="vertical-align: middle;">8</td>
                  </tr>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/90130165_32.jpg" width="32" height="32"> Kartli</td>
                      <td class="text-right" style="vertical-align: middle;">7</td>
                  </tr>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/94862473_32.jpg" width="32" height="32"> Agnes SS</td>
                      <td class="text-right" style="vertical-align: middle;">7</td>
                  </tr>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/94949218_32.jpg" width="32" height="32"> Oral B Siesta</td>
                      <td class="text-right" style="vertical-align: middle;">7</td>
                  </tr>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/2020687525_32.jpg" width="32" height="32"> woooooooooooo</td>
                      <td class="text-right" style="vertical-align: middle;">7</td>
                  </tr>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/93567198_32.jpg" width="32" height="32"> Jason Free</td>
                      <td class="text-right" style="vertical-align: middle;">6</td>
                  </tr>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/93794355_32.jpg" width="32" height="32"> Leonidas Anaheim</td>
                      <td class="text-right" style="vertical-align: middle;">6</td>
                  </tr>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/94102961_32.jpg" width="32" height="32"> sojo hanzan</td>
                      <td class="text-right" style="vertical-align: middle;">6</td>
                  </tr>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/93652917_32.jpg" width="32" height="32"> Hue Radient</td>
                      <td class="text-right" style="vertical-align: middle;">5</td>
                  </tr>
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/94884657_32.jpg" width="32" height="32"> Kirino Eagle</td>
                      <td class="text-right" style="vertical-align: middle;">5</td>
                  </tr>
                </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">TOP Corporations</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98294509_32.png" width="32" height="32"> CLOUD TEMPLE</td>
                            <td class="text-right" style="vertical-align: middle;">63</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98246579_32.png" width="32" height="32"> Moving Star</td>
                            <td class="text-right" style="vertical-align: middle;">31</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98103324_32.png" width="32" height="32"> Time and all Eternity</td>
                            <td class="text-right" style="vertical-align: middle;">12</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98354594_32.png" width="32" height="32"> DeepSpace Guard</td>
                            <td class="text-right" style="vertical-align: middle;">10</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98364453_32.png" width="32" height="32"> Neat Trade And Industry</td>
                            <td class="text-right" style="vertical-align: middle;">7</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98360336_32.png" width="32" height="32"> DeepSpace Holding</td>
                            <td class="text-right" style="vertical-align: middle;">4</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98253860_32.png" width="32" height="32"> Higgs Universal Minerals</td>
                            <td class="text-right" style="vertical-align: middle;">3</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98226756_32.png" width="32" height="32"> United Offensive Operations</td>
                            <td class="text-right" style="vertical-align: middle;">2</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98021629_32.png" width="32" height="32"> Warlock Brigade</td>
                            <td class="text-right" style="vertical-align: middle;">1</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/98324710_32.png" width="32" height="32"> Evidence Of Darkness</td>
                            <td class="text-right" style="vertical-align: middle;">1</td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Weekly TOPs</div>
            <div class="panel-body">
              <div class="progress">
                <div class="progress-bar progress-bar-info text-right" style="width: 60%">CLOUD TEMPLE</div>
              </div>
              
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 30%">Moving Star</div>
              </div>
              
              <div class="progress">
                <div class="progress-bar progress-bar-warning" style="width: 10%">Time and all Eternity</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Monthly TOPs</div>
            <div class="panel-body">
              Monthly report
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
