{% extends "jointhefleet/base.html" %}

{% block contents %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">TOP Characters</div>
            <div class="panel-body">
              <table class="table table-striped">
                <tbody>
                  {% for topchar in top_character %}
                  <tr>
                      <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Character/{{ topchar.member_id }}_32.jpg" width="32" height="32"> {{ topchar.member_name }}</td>
                      <td class="text-right" style="vertical-align: middle;">{{ topchar.id_count }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">TOP Corporations</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        {% for topcorp in top_corp %}
                        <tr>
                            <td style="vertical-align: middle; padding: 3px;"><img src="https://image.eveonline.com/Corporation/{{ topcorp.member_corp_id }}_32.png" width="32" height="32"> {{ topcorp.member_corp_name}}</td>
                            <td class="text-right" style="vertical-align: middle;">{{ topcorp.id_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
          </div>
        </div>
        <!--
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Weekly TOPs</div>
            <div class="panel-body">
              <div class="progress">
                <div class="progress-bar progress-bar-info text-right" style="width: 60%">CLOUD TEMPLE</div>
              </div>
              
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 30%">Moving Star</div>
              </div>
              
              <div class="progress">
                <div class="progress-bar progress-bar-warning" style="width: 10%">Time and all Eternity</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Monthly TOPs</div>
            <div class="panel-body">
              Monthly report
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
{% endblock %}
