{% extends "jointhefleet/base.html" %}

{% block contents %}
    <div class="container">
      {% block noti_header %}<h1 class="page-header text-center">SUCCESS</h1>{% endblock %}
      <div style="text-align: center;">
          <div class="panel panel-success">
              <div class="panel-heading">
                  <h3 class="panel-title">{% block noti_title %}{% endblock%}</h3>
              </div>
              <div class="panel-body">
                  {% block noti_body %}{% endblock %}
              </div>
          </div>
      </div>
    </div>
{% endblock %}
