table, .table {
  font-size: 11pt;
}

.navbar {
  font-size: 11pt;
}

input, select, textarea {
  width: 100%;
}

.control-label{
  font-weight: 600;
}

.page-header{
  margin: 0 0 21px;
  padding-bottom: 9.5px;
}

.dropdown-menu > li > a {
  font-size: 10pt;
}

.errorlist {
  list-style-type: none;
  padding-left: 0px;
  color: red;
}